*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  font-size: 1rem;
}

body {
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom right, #ee5d67, 10%, #681313);
  min-height: 100vh;
}

@media screen and (max-width: 62.5rem) {
  .banky {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .banky__accounts {
    position: relative;
    align-items: flex-start;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 37.5rem) {
  body {
    padding: 0;
  }
  .banky__transitions {
    height: auto;
  }
}
.avatarWrapper {
  height: 100%;
  width: 100%;
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: linear-gradient(to bottom right, #ee5d67, 30%, #681313);
  width: 6rem;
  height: 6rem;
  font-size: 350%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.banky {
  background: white;
  min-height: calc(100vh - 5rem - 4rem);
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 4rem;
  max-width: 85rem;
  margin: 0 auto;
  transition-delay: 0.8s;
}
.banky__section {
  display: flex;
}
.banky__section--left {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.banky__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.banky__header > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.banky__money {
  font-weight: 400;
  font-size: 250%;
}
.banky__money--blur {
  filter: blur(0.27rem);
}
.banky__logo {
  border-radius: 50%;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  background: linear-gradient(to bottom right, #ee5d67, 30%, #681313);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}
.banky__eye {
  border-radius: 50%;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  background: hsl(229, 34%, 76%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}
.banky__transactions {
  padding: 2rem;
  list-style: none;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 30rem;
  overflow-y: scroll;
}
.banky__transactions--blur {
  filter: blur(0.27rem);
}
.banky__transaction {
  display: flex;
  font-size: 120%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  animation-name: popup;
  animation-duration: 0.6s;
}
.banky__transaction::after {
  content: "";
  width: 100%;
  height: 3%;
  position: absolute;
  background: linear-gradient(to bottom right, #ee5d67, 30%, #681313);
  bottom: 0;
  left: 0;
}
.banky__name {
  font-weight: 300;
  font-size: 120%;
}
.banky__amount {
  font-weight: 300;
  font-size: 120%;
}
.banky__transferButton {
  background: linear-gradient(to bottom right, #ee5d67, 30%, #681313);
  color: #eee;
  font-size: 100%;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s all;
}
.banky__transferButton:hover {
  cursor: pointer;
  background: white;
  color: #681313;
  border-inline: 0.2rem solid #681313;
  border-block: 0.2rem solid #681313;
}
.banky__accounts {
  list-style: none;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}
.banky__account {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.banky__account:hover {
  cursor: pointer;
}
.banky__nameOfAccount {
  font-weight: 120%;
}
.banky__switchAccount, .banky__eyeButton {
  border: none;
  background: none;
}
.banky__switchAccount:hover, .banky__eyeButton:hover {
  cursor: pointer;
}
.banky__switchAccount:hover .banky__logo, .banky__eyeButton:hover .banky__logo {
  background: linear-gradient(to bottom right, #ee5d67, 30%, #681313);
  border-radius: 50%;
}

.header {
  background: white;
  height: 5rem;
  font-family: "Amatic SC", cursive;
  padding: 2rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  max-width: 85rem;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  font-size: 300%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  gap: 0.5rem;
  justify-content: centers;
}
body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

body {
  scrollbar-color: #681313 white; /* scroll thumb and track */
}/*# sourceMappingURL=style.css.map */