@use '../../abstracts/vars';
@use '../../abstracts/colors';
@use '../../abstracts/mediaqueries';
@use '../../abstracts/mixins';


.banky{
    background: white;
    min-height: calc(100vh - map-get(vars.$vhCalc , "heightOfHeader" ) - map-get(vars.$vhCalc , "paddingOfBody" ) * 2);
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4rem;
    max-width: 85rem;
    margin: 0 auto;
    


    &__section{
        display: flex;
        
        

        &--left{
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }

        &--right{
            
        }

    }

    

    


    &__header{
        display: flex;
        gap: 1rem;
        align-items: center;
        position: relative;
        justify-content: space-between;
        

        & > div{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    &__money{
        font-weight: 400;
        font-size: 250%;
    }

   

    &__logo{
        
        border-radius: 50%;
        font-size: 2rem;
        height: 5rem;
        width: 5rem;
        background: linear-gradient(to bottom right, map-get(colors.$baseColors, "background"), 30%, map-get(colors.$baseColors,"backgroundDark"));
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
        box-shadow: vars.$box-shadow;
    }

    &__eye{
        border-radius: 50%;
        font-size: 2rem;
        height: 3rem;
        width: 3rem;
        background: hsl(229, 34%, 76%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
        box-shadow: vars.$box-shadow;
    }
    
    &__transactions{
        padding: 2rem;
        list-style: none;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 30rem;
        overflow-y: scroll;
        
    }

    &__transaction{
        display: flex;
        font-size: 120%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0.5rem;
        padding-bottom: 0.5rem;


        &::after{
            @include mixins.afterStyle;
        }

    }

    &__name{
        font-weight:300;
        font-size: 120%;
    }

    &__amount{
        font-weight: 300;
        font-size: 120%;
    }

    &__transferButton{
        background: linear-gradient(to bottom right, map-get(colors.$baseColors, "background"), 30%, map-get(colors.$baseColors,"backgroundDark"));
        color: #eee;
        font-size: 100%;
        border: none;
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        box-shadow: vars.$box-shadow;
        transition: 0.2s all;
        

        &:hover{
            cursor: pointer;
            background: white;
            color: map-get(colors.$baseColors,"backgroundDark");
            border-inline: 0.2rem solid map-get(colors.$baseColors,"backgroundDark");
            border-block: 0.2rem solid map-get(colors.$baseColors,"backgroundDark");
        }
    }
    &__accounts{
        list-style: none;
        display: flex;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        justify-content: center;

    }

    &__account{
        display: flex;
        align-items: center;
        gap: 1rem;
    
    }

    &__nameOfAccount{
        font-weight: 120%;
    }

    &__switchAccount, &__eyeButton{
        border: none;
        background: none;


        &:hover{
            cursor: pointer;
            
        }

        &:hover .banky__logo{
            background: linear-gradient(to bottom right, map-get(colors.$baseColors, "background"), 30%, map-get(colors.$baseColors,"backgroundDark"));
            border-radius: 50%;
        }
    }
}